# SPDX-License-Identifier: Apache-2.0

# SOC
CONFIG_SOC_SERIES_STM32F4X=y
CONFIG_SOC_STM32F427XX=y

# Enable MPU
CONFIG_ARM_MPU=y

# Enable FPU
CONFIG_FPU=y

# Enable HW stack protection
CONFIG_HW_STACK_PROTECTION=y

# Console
CONFIG_CONSOLE=y
CONFIG_SERIAL=y
# CONFIG_UART_CONSOLE=y
CONFIG_USE_SEGGER_RTT=y
CONFIG_RTT_CONSOLE=y

CONFIG_PRINTK=y
CONFIG_CBPRINTF_FP_SUPPORT=y

# clock configuration
CONFIG_CLOCK_CONTROL=y

# Enable pinmux
CONFIG_PINMUX=y

# Enable GPIO
CONFIG_GPIO=y

# Enable PWM
CONFIG_PWM=y

# Enable CAN
CONFIG_CAN=y
CONFIG_CAN_STM32=y
CONFIG_CAN_MAX_FILTER=8

# Enable SPI
CONFIG_SPI=y
CONFIG_SPI_STM32_USE_HW_SS=n

# Enable IIS2MDC magnetometer sensor
CONFIG_SENSOR=y
CONFIG_IIS2MDC=y

# CONFIG_IIS2MDC_TRIGGER_OWN_THREAD=y
# CONFIG_IIS2MDC_TRIGGER_GLOBAL_THREAD=y
# CONFIG_IIS2MDC_TRIGGER_NONE=y
# CONFIG_IIS2MDC_TRIGGER_OWN_THREAD=y
# CONFIG_IIS2MDC_SPI_FULL_DUPLEX=n

CONFIG_ADC=y
CONFIG_STM32_TEMP=y