/*
 * Copyright (c) 2021 Ruixiang Du
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;
#include <st/f4/stm32f427vi.dtsi>
#include <st/f4/stm32f427v(g-i)tx-pinctrl.dtsi>

/ {
	model = "Beaglebone Black Racer Cape";
	compatible = "st";

	chosen {
		zephyr,console = &usart6;
		zephyr,shell-uart = &usart6;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,ccm = &ccm0;
        zephyr,can-primary = &can2;
		zephyr,code-partition = &slot0_partition;
	};

	leds {
		compatible = "gpio-leds";
		blue_led_1: led_1 {
			gpios = <&gpioa 0 GPIO_ACTIVE_LOW>;
			label = "User LD1";
		};
		red_led_1: led_2 {
			gpios = <&gpioa 1 GPIO_ACTIVE_LOW>;
			label = "User LD2";
		};
        blue_led_2: led_3 {
			gpios = <&gpioa 2 GPIO_ACTIVE_LOW>;
			label = "User LD3";
		};
		red_led_2: led_4 {
			gpios = <&gpioa 3 GPIO_ACTIVE_LOW>;
			label = "User LD4";
		};
	};

    stm-temp {
		label = "DIE_TEMP";
		compatible = "st,stm32-temp";
		io-channels = <&adc1 18>;
		status = "okay";
	};

	aliases {
		led0 = &blue_led_1;
		led1 = &red_led_1;
        led2 = &blue_led_2;
		led3 = &red_led_2;
        ctrlpwm = &pwm3;
	};
};

&clk_hse {
	hse-bypass;
	clock-frequency = <DT_FREQ_M(24)>; 
	status = "okay";
};

&pll {
	div-m = <12>;
	mul-n = <168>;
	div-p = <2>;
	div-q = <3>;
	clocks = <&clk_hse>;
	status = "okay";
};

&rcc {
	clocks = <&pll>;
	clock-frequency = <DT_FREQ_M(168)>; /* highest value to get a precise USB clock */
	ahb-prescaler = <1>;
	apb1-prescaler = <4>;
	apb2-prescaler = <2>;
};

&adc1 {
	status = "okay";
};

// &dac1 {
// 	status = "okay";
// 	pinctrl-0 = <&dac_out1_pa4>;
// };

// &i2c1 {
// 	pinctrl-0 = <&i2c1_scl_pb8 &i2c1_sda_pb9>;
// 	status = "okay";
// 	clock-frequency = <I2C_BITRATE_FAST>;
// };

&spi4 {	
    pinctrl-0 = <&spi4_nss_pe4 &spi4_sck_pe2 &spi4_miso_pe5 &spi4_mosi_pe6>;
    status = "okay";
    clock-frequency = <5000000>;
    cs-gpios = <&gpioe 4 GPIO_ACTIVE_LOW>;
	mag_iis2mdc:iis2mdc@0 {
		compatible = "st,iis2mdc";
		reg = <0>;
		label = "IIS2MDC";
        spi-max-frequency = <10000000>;
		drdy-gpios = <&gpioe 3 GPIO_ACTIVE_HIGH>;
	};
};

// &can1 {
// 	bus-speed = <1000000>;
//     pinctrl-0 = <&can1_rx_pa11 &can1_tx_pa12>;
// 	sjw = <1>;
// 	prop-seg = <0>;
// 	phase-seg1 = <11>;
// 	phase-seg2 = <2>;
// 	status = "okay";
// };

&can2 {
	bus-speed = <1000000>;
    pinctrl-0 = <&can2_rx_pb12 &can2_tx_pb13>;
	sjw = <1>;
	prop-seg = <0>;
	phase-seg1 = <11>;
	phase-seg2 = <2>;
	status = "okay";
};

// &usart3 {
// 	pinctrl-0 = <&usart3_tx_pd8 &usart3_rx_pd9>;
// 	current-speed = <115200>;
// 	status = "okay";
// };

&usart6 {
	pinctrl-0 = <&usart6_tx_pc6 &usart6_rx_pc7>;
	current-speed = <115200>;
	status = "okay";
};

// &usbotg_fs {
// 	pinctrl-0 = <&usb_otg_fs_dm_pa11 &usb_otg_fs_dp_pa12>;
// 	status = "okay";
// };

// &timers1 {
// 	status = "okay";

// 	pwm1: pwm {
// 		status = "okay";
// 		pinctrl-0 = <&tim1_ch1_pe9 &tim1_ch2_pe11 &tim1_ch3_pe13 &tim1_ch4_pe14>;
//     };
// };

&timers3 {
	status = "okay";

	pwm3: pwm {
		status = "okay";
		pinctrl-0 = <&tim3_ch3_pb0 &tim3_ch4_pb1>;
	};
};

// &rtc {
// 	status = "okay";
// };

// &iwdg {
// 	status = "okay";
// };

&rng {
	status = "okay";
};

// &mac {
// 	status = "okay";
// 	pinctrl-0 = <&eth_mdc_pc1
// 		     &eth_rxd0_pc4
// 		     &eth_rxd1_pc5
// 		     &eth_ref_clk_pa1
// 		     &eth_mdio_pa2
// 		     &eth_crs_dv_pa7
// 		     &eth_tx_en_pg11
// 		     &eth_txd0_pg13
// 		     &eth_txd1_pb13>;
// };

&flash0 {
	/*
	 * For more information, see:
	 * https://docs.zephyrproject.org/latest/reference/devicetree/index.html#fixed-flash-partitions
	 */
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		/* 64KB for bootloader */
		boot_partition: partition@0 {
			label = "mcuboot";
			reg = <0x00000000 0x00010000>;
			read-only;
		};

		/* storage: 64KB for settings */
		storage_partition: partition@10000 {
			label = "storage";
			reg = <0x00010000 0x00010000>;
		};

		/* application image slot: 256KB */
		slot0_partition: partition@20000 {
			label = "image-0";
			reg = <0x00020000 0x00040000>;
		};

		/* backup slot: 256KB */
		slot1_partition: partition@60000 {
			label = "image-1";
			reg = <0x00060000 0x00040000>;
		};

		/* swap slot: 128KB */
		scratch_partition: partition@a0000 {
			label = "image-scratch";
			reg = <0x000a0000 0x00020000>;
		};

	};
};
