# SPDX-License-Identifier: Apache-2.0

# Select SOC
CONFIG_SOC_SERIES_STM32F4X=y
CONFIG_SOC_STM32F405XG=y

# Enable RCC
CONFIG_CLOCK_CONTROL=y

# Enable FPU
CONFIG_FPU=y

# Enable MPU
CONFIG_ARM_MPU=y

# Enable RTOS Debugging
CONFIG_DEBUG_THREAD_INFO=y

# Enable Pinmux & GPIO
CONFIG_PINMUX=y
CONFIG_GPIO=y

# Enable CAN
CONFIG_CAN=y

# Enable UART
CONFIG_SERIAL=y
CONFIG_UART_ASYNC_API=y
CONFIG_RING_BUFFER=y

# Enable Console
#CONFIG_CONSOLE=y
#CONFIG_UART_CONSOLE=y
#CONFIG_USE_SEGGER_RTT=y
#CONFIG_RTT_CONSOLE=y

# Enable PWM
CONFIG_PWM=y

# Temperature sensor
CONFIG_SENSOR=y
CONFIG_ADC=y
CONFIG_STM32_TEMP=y
